*{
  margin: 0;
  padding: 0;
}
html{
  background-color: white;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
header{
  min-height: 130vh;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center;
}
.logo{
  margin-top:10px;
  height: 50px;
  width: auto;
  margin-bottom: 10px;
}
.navcon{
  background-color: transparent;
}
.navitem{
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 1px;
  transition: .5s;
}
.navitem:hover{
  border-bottom: 2px solid  white;
  cursor: pointer;
}

.navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
   .navbar-dark .navbar-nav .show>.nav-link {
    color:#fff;
    font-weight: bold;
 }

 .container .header-text{
  background-color: transparent;
  text-align: left;
  color:white;
}
.header-text h1{
  margin-bottom: 5px;
  font-size: 400%;
}
.container p{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
.container .btn,
  .container .btn:visited{
   border: 1px solid #fff;
   border-radius:30px;
   text-decoration: none;
   margin-left:20px;
   padding: 5px 20px;
   color:white;

 }
.container .btn:hover,
.container .btn:active{
  transition: .5s;
  background-color: white;
  color:black;
}


.sec1{
  min-height: 80vh;
  background-color: white;
}
.line{
 background-color:#fd8bcb;
 border: 10px solid #fd8bcb;
 border-radius: 5px;
 display: block;
 width: 10%;
 margin:auto
}
.sec1-header{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 120%;
  color:#102a67;
  letter-spacing: 3px;
}
.cardcon{
  margin-top: 20px;
  background-color: #fff;
  min-height: 620px;
  padding: 20px;
  margin-bottom: 80px;
}
.card h4{
  text-align: center;
  color: #102a67;
  padding: 20px;
  text-transform: uppercase;
  font-size: 75%;
  margin-bottom: 20px;
}
.card p{
  font-size: 74%;
}

.container
.btn-card{
  border: 1px solid #ff0b5b;
  border-radius:30px;
  text-decoration: none;
  padding: 5px 15px;
  color:#ff0b5b;
  text-align: center;
  font-size:60%;
}
.btn-card:hover{
  transition: .5s;
  background-color: #fec0d5;
  color:black;
}

.sec2{
  min-height: 130vh;
  background-image: url(../images/bg-sec2.png);
  background-size: cover;
  background-position: center;
}
.sec2-header{
  padding-top: 250px;
  text-align: center;
  font: 100%;
  color:white;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom:30px;
}
.sec2 img{
  margin-top: 50px;
}
.OTC-name{
  font-size:150%;
  color: white;
  margin-left: 300px;
  margin-top: 80px;
}
.OTC-p{
  color: white;
  font-size:90%;
  margin-left: 300px;
}

.sec3{
  min-height: 170vh;
  background-image: url(../images/bg-sec3.png);
  background-size: cover;
  background-position: center;
}
.sec3-header{
  padding-top: 0px;
  text-align: center;
  font: 100%;
  color:white;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom:30px;
}
.sec3 .btn{
  margin-left:45%;
  margin-top: 80px;
}
.sec3 .top{
  margin-top: 50px;
}
.sec3 .OTC-p{
  margin-left: 0;
}
.sec3 .OTC-name{
  margin-left: 0;
}

.sec4{
  min-height: 70vh;
  background-color:white;
  background-size: cover;
  background-position: center;
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;

}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #241b5e;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #d75093;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
footer{
  height: 10vh;
  background-color:#00001b ;
  color:white;
  text-align: center;
  font-size:50%;
}

@media(max-width: 820px){
  header p{
    font-size:80%;
    margin-top: 20px;
  }
  .navcon{
    background-color: transparent;
  }
 .container .btn{
   margin-left: 0;
   margin-top: 20px;
 }
  .container .headermain{
    font-size: 2.5rem;
  }
  .OTC-p{
    margin-left: 0;
  }
  .OTC-name{
    margin-left: 0;
  }
  .sec2-header{
    font-size:90%;
  }
  .sec3-header{
    font-size:90%;
    margin-top: 20px;
  }
  .sec3 .OTC-name{
    margin-top: 0;
  }
  .sec3 .OTC-p{
    margin-top: 0;
    margin-left:20%;
  }
  .sec3-header{
    margin-bottom: 0;
  }
  .sec3 .btn{
    margin-left: 35%;
    margin-top:0;
  }
}
